* {
    margin: 4px;
    padding: 0px;
}

/* parte para mexer no header */
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* posição da imagem */
img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

.main {
    position: relative;
    top: 10em;
    text-align: center;

}

p {
    font-size: 1.5em;
}

.btn-pular {
    position: absolute;
    top: 17em;
    display: flex;
    right: 10em;
    padding: 0px 5px;
    justify-content: right;
}

.btn-voltar {

    position: relative;
    top: 8em;
    display: flex;
    justify-content: left;
    left: 10em;


}