*{
    margin: 4px;
    padding: 0px;
}

body{
    background-image: url(../image/);
}


/* parte para mexer no header */
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    }

/* posição da imagem */
img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1em;
}


h2{
    text-align: center;
    position: relative;
    top: 4em;
}

h3{
    text-align: center;
    position: relative;
    top: 8em;
}

h4{
    text-align: center;
    position: relative;
    top: 12em;
    font-size: 1.2em;
}

.Lavar{
    display: flex;
    flex-direction: row;  
    justify-content: center ;
    align-items: center;
    position: relative;
    top: 10em;   
    gap: 10px; 
}

.Secar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 15em;
    gap: 10px;
        
}
.btn-pular {
    position: absolute;
    top: 10em;
    display: flex;
    right: 10em;
    padding: 0px 5px;
    justify-content: right;
}